<details class="nord-dropdown nord-page-tools">
  <summary>{{msg-nord-tools}}</summary>
  <div class="nord-dropdown-panel"><ul>{{{data-actions.html-items}}}{{{data-variants.html-items}}}</ul></div>
</details>
